

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.confirmation{
    font-size: 14px; /* You can adjust the font size as needed */
    margin-top: 35px;
}

.headline{
    margin-top: 50px;
}
