:root {
    --light-gray: #f1f0f0;
    --light-blue: #949191;
}

body {
    margin: 0;
}

#app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #e0e0e0;
    height: 300px;
    width: 400px;
    margin-left: 710px;
    margin-top: 20px;

}


h1{
    text-align: center;
    font-size: 45px;
    margin-top: 150px;
}

.day {
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.name {
    padding-bottom: 5px;
}

.calendar-button{
    background-color: #fffefe;
    margin-left: 20px;
    margin-top: 20px;


}

.current-month {
    font-size: 25px;
    font-weight: bold;
    margin-left: 820px;
    margin-top: 60px;
    color: black;
}

.calendar-button:nth-of-type(1) {
    margin-left: 800px;
}

.has-booking {
    background-color: green; /* Adjust styling as needed */
    color: #ffffff; /* Adjust text color for visibility */
}


.calendar-button:nth-of-type(2) {;

}

.weekend {
    color: var(--light-blue)
}

.selected {
    background-color: var(--light-blue);
    color: white;
}

#calendar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 100px; /* Juster afstanden fra venstre kant */
    margin-top: 50px; /* Juster afstanden fra top */
}

#available-times-section {
    margin-top: 20px; /* Tilføj lidt mellemrum */
}

h3 {
    font-size: 20px; /* Juster skriftstørrelse */
    margin-bottom: 10px; /* Lidt mellemrum under overskriften */
}

#available-times-list {
    list-style: none; /* Fjern punktliste-stil fra ul */
    padding: 0; /* Fjern indvendig padding fra ul */
    margin: 0; /* Fjern ydre margin fra ul */
}

#current-month {
    text-align: left; /* Juster teksten til venstre */
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px; /* Lidt mellemrum over måned/år */
}