body{
    font-family: 'Lato', sans-serif;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    position: relative;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
    font-size:17px
}
.carousel-caption h3 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 90.78%;
}
.item:nth-child(1) {
    margin-top: 85px;
    background: url('/img/bookinglashcarousel.jpg');
    background-size: 1000px 650px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.item:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
}

.item:nth-child(2) {
    margin-top:85px;
    background: url('/img/treatments.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.item:nth-child(3) {
    margin-top: 85px;
    background: url('/img/aftercarecarousel.webp');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.button-13:hover {
    background-color: #f7fafa;
}

.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}