

/* Basic styling for demonstration purposes */
body {
    font-family: Arial, sans-serif;
    margin: 50px;
}
.container {
    width: 300px;
    margin: 0 auto;
}
input[type="fullname"],
input[type="email"],
input[type="password"],
input[type="phoneNo"],
input[type="username"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;

}
input[type="submit"] {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 12px;
}
input[type="submit"]:hover {
    background-color: lightgray;

}