<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
  <link rel="stylesheet" href="../css/aboutmepage.css">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/navbar-footer.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/navbar-footer.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/login.js"></script>
  <script src="../js/password-modal.js"></script>

</head>
<body>
<div class="aboutme-text">
  <h1>About me</h1>
  <p>Welcome to <i><strong>Lashes by Biran</strong></i> where the art of beauty meets the warmth of personalized care! I'm Amalie Biran, the sole proprietor and certified eyelash technician behind this personalized beauty experience.</p>
  <p>My mission is simple: to deliver a personalized beauty journey that's exclusively designed for you. Whether you seek a subtle enhancement or a bold, glamorous look, I specialize in tailoring treatments to match your unique style and preferences.</p>
  <p>Join me at <i><strong>Lashes by Biran</strong></i> and let's embark on a personalized beauty journey together. Elevate your natural beauty and confidence with every flutter of your new lashes, curated exclusively for you by Amalie Biran.</p></div>
</body>
</html>
