<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aftercare</title>
    <link rel="stylesheet" href="../css/aftercare.css">
    <link rel="stylesheet" href="../css/navbar-footer.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/navbar.js"></script>

</head>

<body>

<div id="navbar-footer"></div>

<h1>Lash Extension Aftercare</h1>
<h4>Following these aftercare tips will help maintain the beauty and longevity of your lash extensions</h4>

<div id="container">
    <div id="steps">
        <p>1. Keep Them Dry: Avoid water, steam, or excessive humidity for the first 24-48 hours after application to let the adhesive fully bond.</p>
        <p>2. Gentle Cleansing: Cleanse your lashes daily using an oil-free lash cleanser or a gentle foaming cleanser. Gently brush through them with a spoolie brush to remove any debris or makeup residue.</p>
        <p>3. Be Gentle: Avoid rubbing or pulling at your lashes. Instead, pat them dry after cleansing and avoid sleeping on your face to prevent unnecessary friction.</p>
        <p>4. Avoid Oil-Based Products: Oil can break down the adhesive, so steer clear of oil-based makeup or skincare products around the eye area.</p>
        <p>5. Brush Regularly: Use a clean lash wand to brush through your extensions daily, keeping them aligned and preventing any tangling.</p>
        <p>6. Maintain Refills: To keep your lashes looking full and beautiful, schedule regular refill appointments every 2-3 weeks.</p>
        <p>7. Protect from Heat: Avoid exposure to excessive heat sources, such as saunas or tanning beds, as heat can weaken the lash adhesive.</p>
        <p>8. Be Mindful with Mascara: If using mascara, opt for a water-based, lash extension-friendly formula, and only apply it to the tips, avoiding the lash base.</p>
        <p>9. Be Cautious with Makeup Removal: When removing makeup, use oil-free makeup removers and be gentle around the eye area.</p>
        <p>10. Consultation: If you notice any irritation or discomfort, please contact us for guidance and evaluation.</p>
    </div>

    <img src="../img/aftercare.png" alt="aftercareimg" id="aftercarepicture">
</div>

<div id="thankyou">
    <p>Thank you for choosing 'Lashes by Biran' for your beauty needs</p>
</div>

</body>

</html>
