<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <link rel="stylesheet" href="../css/BookingConfirmation.css">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/navbar.js"></script>


</head>


<body>

<div class="headline">
    <h1>Booking Confirmation</h1>
</div>

<div class="confirmation">
    <p>Dear [Client's Name],</p>
    <p>Thank you for choosing 'Lashes by Biran'! Your appointment has been successfully scheduled.</p>


    <p>We are excited to provide you with our exceptional service and enhance your natural beauty.</p>
    <p>Should you have any questions or need to make changes to your appointment, feel free to contact us at through Instagram dm.</p>

    <p>Please remember our cancellation policy, allowing changes up to 12 hours before your scheduled time.</p>

    <p>We look forward to meeting you soon and providing you with a personalized beauty experience.</p>

    <p>Warm regards,</p>
</div>


</body>
</html>