<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancellation Policy</title>
    <link rel="stylesheet" href="../css/navbar-footer.css">
    <link rel="stylesheet" href="../css/cancellationpage.css">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/navbar-footer.js"></script>

</head>
<body>
<div class="cancellation-text">
        <h1>Cancellation Policy</h1>
            <p>Dear customers</p>
    <p>Cancellation MUST be made at least 12 hours before the scheduled appointment.</p>
    <p>For cancellations after the deadline, a fee equivalent to half of the treatment price will be applied.</p>
    <p>Delays exceeding 15 minutes without prior notice will be considered as a no-show, and a fee of 50 DKK will be charged.</p>
    <p>Free removal in case of allergy.</p>
    <p>Treatment guarantee: Inquiries for free corrections must be made within the first 48 hours after the treatment.</p></div>

</body>
</html>
