<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../static/css/navbar-footer.css">
  <link rel="stylesheet" href="../static/css/contactpage.css">
  <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/js/contact.js"></script>
  <div id="navbar-footer"></div>
  <div id="map"></div>

  <script src="../static/js/navbar-footer.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtwlZDV9hvBP448QOCzodlsZBxebrtnXM&callback=initMap" async defer></script>
</head>
<body>
<h1>Contact</h1>
<div class="contact-info">
<p>Torpenvej 18, 3050 Humlebæk</p>
<p>Lashesbybiran@gmail.com</p>
<p>+45 61 71 01 19</p>
</div>
</body>
</html>
