<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Owner page</title>
  <link rel="stylesheet" href="../static/css/aboutmepage.css">
  <link rel="stylesheet" href="../static/css/navbar-footer.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/js/navbar-footer.js"></script>
  <link rel="stylesheet" href="../static/css/ownerpage.css">

</head>
<body>
<div class="container">
  <div class="buttons">
    <button id="createButton">Create booking</button>
    <button id="editButton">Edit booking</button>
    <button id="deleteButton">Delete booking</button>
    <button id="viewButton">View calendar</button>
  </div>
  <img class="logo-img" src="../static/img/logo.png">
</div>
</body>
</html>
